
<div class="about-section">
  <h1>29 Flower Academy</h1>
  <p>Blooming Your Life!</p>
  <img src="assets/image/flower-intro.png" alt="29 Flower Academy" class="res-image">
  <p>29 Flower Academy was established in 2008, which conducts professional floral courses for all levels.</p>
  <p>As the leading floristry school in Vietnam
    with more than a decade of teaching experience, 
    we have helped many bloom into professional artisan florists, under 
    our holistic and comprehensive floral training courses.</p>
    <a class="btn button-contact" href="./contact">CONTACT US</a>
</div>


