.card {
    width: 350px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 30px;
    display: inline-flex;
    justify-content: center;
    height:auto;
}


.card img{
    height: 350px;
  }

.container-fluid {
   margin-top: 50px;
   margin-bottom: 80px;
}
