<footer class="footer">
  <div class="footer-area">
    <div class="container">
      <div class="row section_gap">

        <div class="col-lg-5 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title large_title">About Us</h4>
            <p>As the leading floristry school in Vietnam
              with more than a decade of teaching experience, 
              we have helped many bloom into professional artisan florists, under 
              our holistic and comprehensive floral training courses.
            </p>
            <p>Copyright &copy;
              <script>document.write(newDate().getFullYear());</script>
              All Right Reserved
            </p>
          </div>
        </div>

        <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Information</h4>
            <ul class="list">
              <li><a href="./home">Home</a></li>
              <li><a href="./courses">Course</a></li>
              <li><a href="./registration-form">Registration</a></li>
              <li><a href="./about">About Us</a></li>
              <li><a href="./contact">Contact Us</a></li>
            </ul>
          </div>
        </div>

        <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Contact Us</h4>
            <div class="ml-5">
              <p class="sm-head">
                <i class="fas fa-location-arrow"><span class="fa-icon-innter-text">&nbsp;Corporate Office</span></i>
              </p>
              <p class="info">2 Hai Trieu Street, District 1, HCMC, VN
              </p>
              <p class="sm-head">
                <i class="fas fa-phone"><span class="fa-icon-innter-text">&nbsp;Phone Number</span></i>
              </p>
              <p class="info">(028) 7686 4354
              </p>
              <p class="sm-head">
                <i class="fas fa-envelope"><span class="fa-icon-innter-text">&nbsp;Email</span></i>
              </p>
              <p class="info">info@29floweracademy.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>